@import 'color';
@import 'font';

body {
  background-color: $bg-grey;
}

.content-box {
  background-color: white;
  border: 1px solid $border-grey;
  margin-top: 15px;
  margin-bottom: 15px;
}

.blue-top {
  border-top: 2px solid $ktb-blue!important;
}

.content-box-head {
  padding: 6px 15px;
  border-bottom: 1px solid $border-grey;
}

.box-title {
  font-family: 'KrungthaiBold';
  font-size: 14px;
  color: $ktb-blue-darkest;
}

.right-option {
  text-align: right;
}

.btn-close {
  padding-left:0px;
  padding-right: 0px;
  font-family: 'KrungthaiBold';
  font-size: 13px;
  color: $grey-darker;
  &:hover {
    color: $darkest-grey;
  }
}